// 首页
.el-container.is-vertical {
  background: red;
  height: 100vh;
  font-size: 1rem;
  // 设置全局滚动条样式
  ::-webkit-scrollbar {
    width: 10px; // 滚动条的宽度
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1; // 滚动条轨道的背景
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(187, 187, 187, 0.6); // 滚动条的颜色
    border-radius: 10px; // 滚动条的圆角
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(187, 187, 187, 1); // 滚动条的颜色
  }
  .el-header {
    background: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4rem;
    .my-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .my-header-title {
      }
      .my-header-menu {
        display: flex;
        align-items: center;
        .my-header-menu-item {
        }
        .my-header-menu-item:not(:first-child) {
          margin-left: 2rem;
        }
      }
    }
  }
  .el-container {
    background: skyblue;
    height: calc(100vh - 8rem);
    .el-aside {
      background: yellow;
      min-width: 1rem;
      .my-tree {
        .my-tree-operate {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          height: 2rem;
          padding: 0 0.5rem;
          .el-icon {
            font-size: 1.4rem;
            cursor: pointer;
          }
          .el-icon:not(:first-child) {
            margin-left: 0.5rem;
          }
        }
        .el-tree {
          padding-left: 0.5rem;
        }
        .el-tree-node__expand-icon {
          display: none;
        }
        .custom-tree-node {
          display: flex;
          align-items: center;
        }
      }
    }
    .el-main {
      background: skyblue;
      height: 100%;
      padding: 0.5rem;
      overflow: hidden;
      .table-container {
        height: 100%;
        background: #9fe2bf;
        overflow: hidden;
        .my-table {
          height: 100%;
          width: 100%;
          overflow: hidden;
          .el-table {
            height: 100%;
            .el-input {
              .el-input__inner {
                text-align: center;
              }
            }
            .selected-row {
              background: #9fe2bf;
            }
            .table-cell-content {
              user-select: none;
            }
            tbody tr:hover > td {
              background: transparent !important;
            }
          }
        }
      }
    }
  }
  .el-footer {
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
